.header {
    display: flex;    
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
    background-color: #131921;
    color: #fff;
    .logo {
        font-size: 2em;
        padding-left: 20px;
    }
    .cart-container {
        margin-right: 25px;
    }
    .search-container {
        width: 45%;
        button {
            background-color: #febd69;
        }
        button:hover {
            background-color: #f3a847;
        }
    }
}