.cart-container {
    padding: 15px;
    border: 2px solid #ddd;
    .header-content{
        display: flex;
        justify-content: space-between;
    }
    .items {
        display: flex;
        flex-direction: row;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
    }
}